.header {
  width: 100vw;
  background-color: $first-color;
  // background-color: rgb(10, 101, 161);
  height: 60px;
  position: fixed;
  top: 0px; 
  z-index: 2;

  // &__logo {
  //   width: 80px;
  //   position: relative;
  //   top: 5px;
  //   left: 10px;
  //   filter: grayscale(50%);
  // }

  &__hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 2;
    @include desktop {
      display: none;
    }
  }

  &__hamburger-bar {
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    border-radius: 20px;
  }

  &__nav-list {
    background-color: #ededed;
    position: fixed;
    top: 0px;
    right: 100vw;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    padding-top: 65px;
    transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    @include desktop {
      right: 0;
      height: 60px;
      background-color: transparent;
      padding-top: 0px;
      opacity: 1;
      text-align: right;
    }
    &--active {
      right: 0;
    }
  }

  &__nav-item {
    color: $first-color;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    transition: .1s;
    @include desktop {
      color: white;
      display: block;
      &:hover{
        transform: scale(1.15);
      }
    }
  }
  
  &__nav-link {
    @include desktop {
      display: inline-block;
      margin-right: 5vw;
    }
  }
}

// hamburger animate class
.change .bar-1 {
  background-color: $first-color;
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar-2 {
  background-color: $first-color;
  opacity: 0;
}

.change .bar-3 {
  background-color: $first-color;
  transform: rotate(45deg) translate(-8px, -8px);
}