@import "mixins-and-variablles.scss";
@import "header.scss";
@import "slider.scss";
@import "about-us.scss";
@import "products.scss";
@import "contact.scss";
@import "footer.scss";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(245, 245, 245);
}